import(Matrix)
import(glmnet, lme4)

export(glmmlasso)

exportMethods(show,residuals,coefficients,coef,fitted,fitted.values)

S3method(glmmlasso, default)
S3method(plot, glmmlasso)
S3method(print, glmmlasso)
S3method(summary, glmmlasso)

importFrom("methods", "as", "is")
importFrom("graphics", "abline", "hist", "par", "rug")
importFrom("stats", "as.formula", "ftable", "median", "nlminb",
           "predict", "qqline", "qqnorm")
